@font-face {
    font-family: "magis";
    src: url(./Assets/Fonts/Magistral-Cond-W08-Book.ttf);
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  
  }
  h1,h2,h3,p{
    user-select: none;
  }
 
body {
  width: 100%;
  height: 110vh;
  overflow-x: hidden;
}

.section-1 {
  width: 100%;
  min-height: 80vh;
  background-image: url(./background.png);
  background-size: cover;
  background-color: rgba(10, 24, 46, 0.863);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  position: relative;


}
.section-1::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  clip-path: polygon( 100% 30%, 0% 100%, 100% 100%);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(10, 24, 46, 0.498);

  z-index: 98;
}
.overlay::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  clip-path: polygon( 100% 30%, 0% 100%, 100% 100%);
}
  header .logo {
    z-index: 99;
  }
  
  header .logo img {
    height: 70px;
  
  
  }
  
  header {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 19px;
  transition: 0.25s ease;
 

  }
  #home.black{
    fill:#f99045!important;
    transition: 0.25s ease;
  }
  
  
  #home{
    height: 30px;
    position: absolute;
    top: 7px;
    left: 10px;
   

    
  }

  
  .home {
    position: relative;
  }
  
  header nav{
    font-family: 'magis';
    margin-right: 5%;
    z-index: 99;
  
    
    
  }
  header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  header nav ul li{
    margin: 0 5px;
  
  }
  header nav ul li a{
    color:white;
    padding: 10px 30px;
    border-radius: 5px;
    position: relative;
    transition: 0.25s ease;
  }
  header nav ul li a:hover{
    color:#f99045;
    transition: 0.25s ease;
    transition: 0.25s ease;
    
  }
  
  
  header nav ul li a::after{
    content: "";
    background-color: white;
    width: 3px;
    height: 50px;
    position: absolute;
    transform: rotate(90deg);
    left: 54px;
    top:10px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.25s ease;
  }
  header nav ul li a:hover::after{
    content: "";
    opacity: 1;
    background-color: white ;
    transition: 0.25s ease;
    width: 3px;
    height: 110px;
    position: absolute;
    transform: rotate(90deg);
    left: 85px;
    top: -20px;
    border-radius: 10px;
    transition: 0.25s ease;
  }
  
  header .first {
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    position: relative;
    transition: 0.25s ease;
    
  }
  header .st {
    color:#f99045;
    border-radius: 5px;
    padding: 10px 40px;
    text-align: center;
    position: relative;
    transition: 0.25s ease;
    
  }
  header .st:hover {
    color:#ffffff !important;
    transition: 0.25s ease;
    
   
  }
  header .first:hover {
    color:#f99045;
    transition: 0.25s ease;
   
  }
  /* header nav ul li .first::after{
    content: "";
    background-color: white;
    width: 3px;
    height: 50px;
    position: absolute;
    transform: rotate(90deg);
    left: 36px;
    top:10px;
    opacity: 1;
    border-radius: 10px;
  } */
  header nav ul li .first::after{
    content: "";
    background-color: white;
    width: 3px;
    height: 90px;
    position: absolute;
    transform: rotate(90deg);
    left: 56px;
    top: -10px;
    opacity: 0;
    border-radius: 10px;
    transition: 0.25s ease;
  }
  header nav ul li .st::after{
    content: "";
    background-color: white;
    width: 3px;
    height: 100px!important;
    position: absolute;
    transform: rotate(90deg);
    left: 90px;
    top: -14px;
    opacity: 1;
    border-radius: 10px;
    transition: 0.25s ease;
  }
  header nav ul li .st:hover::after{
    content: "";
    background-color:#f99045 !important ;
    transition: 0.25s ease;
    width: 3px;
    height: 90px;
    position: absolute;
    transform: rotate(90deg);
    left: 90px!important;
    top: -12px !important;
    border-radius: 10px;
    transition: 0.25s ease;
    
  }
  header nav ul li .first:hover::after{
    content: "";
    background-color: #ffffff ;
    transition: 0.25s ease;
    width: 3px;
    height: 90px;
    position: absolute;
    transform: rotate(90deg);
    left: 56px;
    top: -10px;
    border-radius: 10px;
    transition: 0.25s ease;

    
  }
  header nav ul li .snd::after{
    content: "";
    background-color: white;
    width: 3px;
    height: 50px;
    position: absolute;
    transform: rotate(90deg);
    left: 54px;
    top:11px;
    opacity: 0;
    border-radius: 10px;
    transition: 0.25s ease;
  }
  header nav ul li .snd:hover{
    color: #f99045;
    transition: 0.25s ease;
  }
  header nav ul li .snd:hover::after{
    content: "";
    background-color: white ;
    transition: 0.25s ease;
    width: 3px;
    height: 75px;
    position: absolute;
    transform: rotate(90deg);
    left: 67px;
    top: -2px;
    border-radius: 10px;
    opacity: 1;
    transition: 0.25s ease;
    
  }
  header nav ul li .end::after{
    content: "";
    background-color: white;
    width: 3px;
    height: 40px;
    position: absolute;
    transform: rotate(90deg);
    left: 51px;
    top:17px;
    opacity: 0;
    border-radius: 10px;
    transition: 0.25s ease;
  }
  header nav ul li .end:hover{
    color: #f99045;
    transition: 0.25s ease;
  }
  header nav ul li .end:hover::after{
    content: "";
    background-color: white ;
    transition: 0.25s ease;
    width: 3px;
    height: 60px;
    position: absolute;
    transform: rotate(90deg);
    left: 61px;
    top: 6px;
    border-radius: 10px;
    opacity: 1;
    transition: 0.25s ease;
    
  }
  .menu {
    width: 35px;
    height: 35px;
    display: none;
    transition: 0.25 ease;
    z-index: 99;
    cursor: pointer;
  
  }
  
  .menu .barMenu,
  .menu::before,
  .menu::after {
    content: '';
    display: block;
    margin-top: 7px;
    width: 100%;
    height: 2px;
    background-color: #f99045;
    transition: 0.4s ease;
    transition: 0.25 ease;
    z-index: 99;
  }
  
  .menu.active::before {
    transform: rotate(45deg) translate(8px, 6px);
    transition: 0.4s ease;
  }
  
  .menu.active::after {
    transform: rotate(-45deg) translate(6px, -6px);
    transition: 0.4s ease;
  }
  
  .menu.active .barMenu {
    opacity: 0;
    transition: 0.4s ease;
  }
  
  .menu .barMenu {
    opacity: 1;
    width: 16px;
    margin-left: 55%;
    transition: 0.4s ease;
    transition: 0.25 ease;
    z-index: 99;
  }
  .nav3{
    display: none;
  }
  .nav2{
    display: none;
  }
  
  .section-1 .hero{
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
    z-index: 98;
    font-family: "magis";
    padding-bottom: 40px;
  }
  .section-1 .hero .left{
   padding-top: 150px;
   padding-bottom: 100px;
   
  }
  .section-1 .hero .left h1 {
    position: relative;
    font-size: 3.5rem;
    text-transform: uppercase;

   
  }

  .section-1 #bar {
    position: absolute;
    height: 27px;
    bottom: -27px;
  }
 
 
  .section-2{
    width: 100%;
    text-align: center;
    font-family: "magis";
    padding-bottom: 100px;
    
   
  }
  .section-2 h1{
    position: relative;
    margin: 50px 0;
    font-size: 3rem;
    padding-top: 100px;
  }
  .section-2 p{
    margin-top: 20px;
    font-size: 19px;
    text-align: start;
  }
  .section-2 #bar {
    height: 25px;
    position: absolute;
    bottom: -20px;
    
  }
  .section-2 .content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
  
  
    
  }
  
  .section-2 .txt {
  height: 300px;
  max-width: 500px;
  }
  
  .section-2 font {
    color: #425531;
    font-weight: bold;
  }
  .section-2 .brown {
    color: #a55540;
  }
  .section-2 .img {
    width: 100%;
   max-width: 1000px;
   margin-top: 50px;
   margin-left: 10px;
  
  }
  .section-2 img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: 0.25s ease;
    animation: opacity 1s ease ;
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  

  
  
  

  section{
    width: 100%;
    min-height: 160vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'magis';
    
   
  }
  section .sectionContent{
   position: absolute;
    width: 100%;
    height: 100%;


  }
  section .sectionContent img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
  section .atout{
    background-color: #00000067;
    min-height: 160vh;
    width: 100%;
    z-index: 99;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
  section .atout h1{
    padding-top: 100px;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    
  }
  section #bar {
    position: absolute;
    height: 30px;
    bottom: -30px;
    
  }

  section #list{
    height: 30px;
   
  }


  section .sectionContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    color: white;
    padding-top: 100px;
 
   
  }
  section .sectionContent p{
    text-align: center;
    font-size: 19px;

  }
  section .sectionContent .list-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
 
  }
  section .sectionContent .list-gallery p {
    text-transform: uppercase;
  }
  section .sectionContent .list-gallery b{
    color: #a55540;
  }
  section .cls-12{
    stroke:#f99045;
   
  }
  section .cls-22{
    fill:#425531;
   
  }
  section .leftbox .listbox{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    transition: 0.25s ease;
  }
  section .listbox:hover{
    scale: 1.2;
    transform: translateY(-5px);
    transition: 0.3s ease;
    transition: 0.25s ease;
   
  }
  section .leftbox .listbox p{
    margin-left: 20px;
  }
 
 

  

  
  
  .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    background-color: #f99045;
    /* clip-path: ellipse(50% 100% at 50% 100%); */
    padding: 50px 0;
    font-family: 'magis';
  }
  .section-3 h1{
    font-size: 3rem;
    color: #0f102f;
    width: fit-content;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
  }
  .section-3 .bar2{
    fill: white;
  }
  .section-3 .bar3{
    fill:#ffffff;
   
  }
  .section-3 #bar3{
    position: absolute;
    bottom: -10px;
    left: 190px;
    height: 20px;
  
  }
  
  .section-3 .condition {
    margin-top: 70px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
  }
  .section-3 .condition .svg-txt{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: 0.25s ease;
    
  }
  .section-3 .condition .svg-txt:hover{
    scale: 1.2;
    transform: translateY(-5px);
    transition: 0.25s ease;
  }
  .section-3 .condition p{
    margin-left: 30px;
    user-select: none;
  color: white;
    
    
  }
  .section-3 #select{
    height: 40px;
  }

  #up {
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 0.25s ease;
    cursor: pointer;
    display: none;
    z-index: 99;
    transition: 0.25s ease;
  
  }
  #up:hover {
   scale: 1.1;
   transition: 0.25s ease;
  }
  
  footer {
    width: 100%;
    margin: auto 0;
    background: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(10, 24, 46, 0.863);
    background-blend-mode: multiply;
    color: white;
    padding-bottom: 30px;
    font-family: "magis";
    position: relative;
  
  
  }
  
  footer .footerBackground {
    position: absolute;
    background-color: rgba(10, 24, 46, 0.498);
    height: 100%;
    width: 100%;
  }
  
  footer .footerContent {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    min-height: 300px;
  }
  
  footer .firstbox {
    padding: 20px 0;
  }
  
  footer .social {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
  
  }
  
  footer .sndbox .brown {
    color: #a55540;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
  }
  
  footer .infoContact {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 83px;
    
  
  }
  
  footer .social .fa-brands {
    margin-left: 20px;
    color: #f99045;
    scale: 1.3;
    margin-bottom: 15px;
  }
  
  footer .social img {
    height: 60px;
    margin-right: 30px;
  
  }
  
  footer .copyright {
    position: relative;
    top:  150px;
    width: 100%;
  
  }
  
  footer .sndbox .menuContent {
   
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px ; */
  
  }
  
  footer .menuContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer .sndbox p {
    color: white;
    padding-bottom: 10px;
  
  
  }
  
  footer .content2 {
    margin-left: 50px;
  }
  
  footer  .social img {
    scale: 2;
    
  }
  footer .thirdbox p {
  
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
    
  }
  
  footer .thirdbox .partenaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 400px;
  }
  
  footer .thirdbox .img-partenaire {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
   
    
  }
  footer .thirdbox .img-partenaire img{
    width: 100%;
  object-fit: cover;
   
  
    
    
  }
  
  footer .sndbox a,
  .thirdbox p {
    position: relative;
    transition: 0.25s ease;
  
  }
  
  footer .sndbox p:hover {
    color: #425531;
    transition: 0.25s ease;
  }
  
  footer .sndbox .one::after {
    content: "";
    background-color: white;
    width: 1px;
    top: 7px;
    left: 30px;
    height: 60px;
    position: absolute;
    transform: rotate(90deg);
    border-radius: 10px;
    transition: 0.25s ease;
  }
  
  footer .sndbox .one:hover::after {
    content: "";
    background-color: #f99045;
    width: 1px;
    top: 18px;
    left: 30px;
    height: 40px;
    position: absolute;
    transform: rotate(90deg);
    border-radius: 10px;
    transition: 0.25s ease;
  }
  
  footer .sndbox a::after {
    content: "";
    background-color: white;
    width: 1px;
    top: -7px;
    left: 45px;
    height: 90px;
    position: absolute;
    transform: rotate(90deg);
    border-radius: 10px;
    transition: 0.25s ease;
  }
  
  footer .sndbox a:hover::after {
    content: "";
    background-color: #f99045;
    transition: 0.25s ease;
    width: 1px;
    top: 13px;
    left: 40px;
    height: 50px;
    position: absolute;
    transform: rotate(90deg);
    border-radius: 10px;
    transition: 0.25s ease;
  }
  
  footer .thirdbox .none {
    margin-bottom: 15px;
    transition: 0.25s ease;
  }
  
  footer .thirdbox .none::after {
    content: "";
    height: 0;
    width: 0;
    transition: 0.25s ease;
  }
  
/* RESPONSIVE ACCEUIL/FORMATION---------------------------------------------------- */

/* 2xl */
@media (max-width:1536px) {
  .section-1 .hero .left p{
    text-align: start;
  }
}
/* xl */
@media (max-width:1200px) {
 .list-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.leftbox{
  margin-bottom: 200px;
  height: 300px;
}
.rightbox {
  height: 100%;
  margin-right: 50px;
  padding-bottom: 100px;
 
}
.listbox:hover{
  transform: translateX(50px) !important;
}
 .img-container img {
  width: 100%!important;
 
}
  
}


/* lg */
@media (max-width:1077px) {
header nav {
display: none;
transition: 0.25s;
}

header.active{
position: fixed;
z-index: 999999;
top: 0;
max-width: 100% !important;
background-color: rgb(255, 255, 255);
box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.609);
transition: 0.25s;
padding-top: 10px;

}


.menu {
display: block;
position: fixed;
right: 0;
margin-right: 10px;
z-index: 9999999 ;
transition: 0.25s ease;
}



.nav2.active{
transition: 0.25s ease;
transform: translateX(0);
opacity: 1;
z-index: 999;
}

.nav2 {
display: block;
height: 100%;
width: 50%; 
 max-width: 100%; 
background-color:#425531;
font-family: "magis";
top: 0;
right: 0;
position: fixed;
padding-top: 150px;
transition: 0.25s ease;
display: flex;
justify-content: center;
font-size: 19px;
transform: translateX(300px);
opacity: 0;

}
.nav3.active{
transition: 0.25s ease;
z-index: 99;

opacity: 1;
}
.nav3{
display: block;
height: 100%;
width: 50%;
background-color:rgba(0, 0, 0, 0.801);
font-family: "magis";
top: 0;
left: 0;
position: fixed;
padding-top: 150px;
transition: 0.25s ease;
opacity: 0;
}

.nav2 a {
/* position: fixed; */
display: block;
margin: 0 auto;
left: 0;
right: 0;
color: white;
padding: 10px 30px;
text-align: center;
background-color: #f99045;
width: 100%;
 max-width: 200px; 
margin-bottom:25px;
border-radius: 3px;
transition: 0.25s ease;


}
.nav2 a:hover{
background-color:#0f102f;
transition: 0.25s ease;
}
.section-2 .content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.section-2 .content .txt {
margin-bottom: 150px;
}
.section-2 .content .images {
  margin-right: 27px;
}
}

/* md */
@media (max-width:915px) {
.section-1 .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.25s ease;
}
.section-1 .hero .left h1, p{
  text-align: center!important;
}
.menuContent .one:after {
  left: 60px;
}
footer .sndbox .one::after {
  
  left: 45px;
  
  transition: 0.25s ease;

}

footer .content1, .content2 {
margin-left: 100px;
}
footer .content1 p, .content2 p {
width: 100px;
}


.thirdbox{
position: relative;
right: 230px;
top: 250px;
}
.copyright{
top: 25px !important;

}
.partenaire  {
display: flex;
flex-direction: row !important;
width: 60vh !important;
}

}

@media (max-width:794px){
  section .sectionContent{
    padding-top: 0 !important;
  }
.rightbox{
scale: 0.9;
}
.leftbox{
scale: 0.9;
margin-bottom: 80px;
}
.section-3 h1 {
font-size: 2.5rem;
}
.section-3 #bar3 {

left: 90px;
height: 25px;

}

} 

/* sm */


@media (max-width:794px){
.rightbox{
  scale: 0.7;
}
.leftbox{
  scale: 0.8;
  margin-bottom: 50px;

  
}
.list-gallery {
  padding-top: 0 !important;
}
.campusContent p {
  max-width: 500px;
  text-align: justify !important;
  padding: 0 50px;
  margin-left: 50px;
}
} 
.section-3 h1 {
font-size: 1.8rem;

}
.section-3 #bar3 {

left: 95px;
height: 15px;

}
footer .partenaire {
display: flex;
flex-direction: column;
}
footer {
min-height: 480px;
}

@media (max-width: 698px) {
.infoContact p{
  position: relative;
  bottom: 60px;
  width: 350px;
  
}

}
@media (max-width: 650px) {

.section-1 .hero .left h1{
font-size: 2.5rem;
}
.left #bar{
  scale: 0.5;
  left: -70px;
}
.section-1 .hero .right{
scale: 0.9;
}
}
@media (max-width: 696px) {
footer .menuContent .content2{
  margin-right: 45px;
  margin-top: 20px;
}
.content1{
  margin-top: 20px;
}
footer .menuContent{

  display: flex;
  flex-direction: column;
  
}
footer .thirdbox{
  right: 500px;
}
footer .content2{
  margin-left:140px ;
}
footer .content1, .content2 {
  margin-left: 100px;
}
footer .infoContact{
  position: relative;
  right: 100px;
}
}
/* xm */
@media (max-width:614px) {
  .leftbox p{
    padding: 0 !important;
    width: 300px;
    
    }
    .leftbox {
    margin-right: 30px;
    
    
    }
    
}
@media (max-width:479px) {
.section-3 #bar3 {

display: none;

}
.left #bar{
  scale: 0.5;
  left: -100px;
}
footer .footerContent{
scale: 0.9;
}
footer .menuContent p{

width: 100px;
}


.section-1 .hero .left h1{
font-size: 2rem;
}
.section-1 .hero .left p{
font-size: 12px;
text-align: center!important;
margin-left: 15px;
}
.section-1 .hero .right{
scale: 0.7;
}
.rightbox{
scale: 0.5;
}

.campusContent p {
margin-left: 70px;
}
#list {
scale: 0.9;
}
.section-2 .content .txt {
margin-bottom: 100px;
}

.nav3.active {
display: none;
}
.nav2 {
width: 100%;
}
body.active{
overflow-y: hidden;
}
.section-3::before {
background-color:#f99045;
 clip-path: ellipse(20% 100% at 50% 100%);
scale: 4;

}


}
@media (max-width:464px){
  .section-2 .content .txt {
    margin-bottom: 150px;
    }

    .listbox:hover {
      transform: translateX(0) !important;
      transform: translateY(0) !important;
      
     
    }
}
@media (max-width:443px){
.section-2 h1{
  font-size: 2rem;
}
section .atout h1{
  font-size: 2rem;
}
@media (max-width:432px){
footer .footerContent{
scale: 0.8;

margin-right: 200px;
}
.campusContent p{
max-width: 400px;
margin-left: 180px;
} 
.listbox {

margin: 5px 0 !important;
margin-left: 100px !important;

}
.listbox {
  margin-right: 80px !important;
  padding-bottom: 30px;
 
}

#list {
scale: 0.7;
}
.listbox:hover{
transform: none;

}
.rightbox img {
width: 100%; 

}

.leftbox{
margin-top: 70px !important;
margin-bottom: 0px !important;
}
.rightbox{
scale: 0.4;
margin-right: 30px !important;

}
.nav3.active {
display: none;
}
.nav2 {
width: 100%;

}
.nav2 a{

}
body.active{
overflow-y: hidden;
}

}
@media (max-width:399px){
  .listbox {
    margin-right: 250px !important;
    scale: 0.7;

  }
  .listbox:hover{
    transform: translateX(0) !important;
    transform: translateY(0) !important;
    scale: 0.9 !important;
  }
}
@media (max-width:400px){

.left #bar{
  scale: 0.36;
  left: -130px;
}
.section-1 .hero .left h1{
font-size: 1.5rem;
}
.section-1 .hero .left p{
font-size: 12px;
text-align: center!important;
}
.section-1 .hero .right{
scale: 0.9;
}
.leftbox{
margin-left: 120px;
}
.campusContent p{
margin-left: 213px;
} 
}

@media (max-width:370px){
  .section-2 .content .images {
    margin-top:  39px;
   
    }
}
@media (max-width:344px){
  .section-2 .content .images {
    margin-top:  90px;
   
    }
}
@media (max-width:362px){
footer .footerContent{
scale: 0.6;

margin-right: 100px;
}
}
@media (max-width:306px){
footer .firstbox, .sndbox, .thirdbox, .infoContact {
position: relative;
right: 50px;

}
footer .thirdbox {
right: 540px;
}
.section-2 .content .images {
  margin-top:  200px;
 
  }
}