@font-face {
  font-family: "magis";
  src: url(./Assets/Fonts/Magistral-Cond-W08-Book.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;


}

html {
  scroll-behavior: smooth;

  
}
.main {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}


h1,
h2,
h3,
p {
  user-select: none;
}

body {
 
 width: 100%;
 height: 110vh;


}




header {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 19px;
transition: 0.25s ease;



}

header .logo img {
  height: 70px;

}
#home.black {
  fill: rgb(255, 255, 255);
  transition: 0.25s ease;
}


#home {
  height: 30px;
  position: absolute;
  top: 7px;
  left: 10px;
  fill: #f99045;


}

.home {
  position: relative;
}


.menu.active{
  display: block;
  position: fixed;
  top: 30px;
  right: 20px;
 margin-right: 10px;
  z-index: 98;
  transition: 0.25s ease;
}

.menu {
  width: 35px;
  height: 35px;
  transition: 0.25 ease;
  z-index: 98;
  cursor: pointer;

}

.menu .barMenu,
.menu::before,
.menu::after {
  content: '';
  display: block;
  margin-top: 7px;
  width: 100%;
  height: 2px;
  background-color: #f99045;
  transition: 0.4s ease;
  transition: 0.25 ease;
  z-index: 98;
}

.menu.active::before {
  transform: rotate(45deg) translate(8px, 6px);
  transition: 0.4s ease;
}

.menu.active::after {
  transform: rotate(-45deg) translate(6px, -6px);
  transition: 0.4s ease;
}

.menu.active .barMenu {
  opacity: 0;
  transition: 0.4s ease;
}

.menu .barMenu {
  opacity: 1;
  width: 16px;
  margin-left: 55%;
  transition: 0.4s ease;
  transition: 0.25 ease;
  z-index: 98;
}


header .logo{
  position: relative;
}
header nav {
  display: none;
  transition: 0.25s;
}

header.active{
  position: fixed;
  width: 100%;
  z-index: 98;
  top: 0;
  max-width: 100% !important;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.609);
  transition: 0.25s;
  padding-top: 10px;

}

.nav2 {
  display: block;
  height: 100%;
  width: 50%; 
   max-width: 100%; 
  background-color:#425531;
  font-family: "magis";
  top: 0;
  right: 0;
  position: fixed;
  padding-top: 150px;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  font-size: 19px;
  transform: translateX(300px);
  opacity: 0;

}

.nav2 a {
 
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  padding: 10px 30px;
  text-align: center;
  background-color: #f99045;
  width: 100%;
   max-width: 200px; 
  margin-bottom:25px;
  border-radius: 3px;
  transition: 0.25s ease;


}
.nav2 a:hover{
  background-color:#0f102f;
  transition: 0.25s ease;
}
.nav2.active{
  transition: 0.25s ease;
  transform: translateX(0);
  opacity: 1;
  z-index: 97;
}

.nav3.active{
  transition: 0.25s ease;
  z-index: 97;
  opacity: 1;
}
.nav3{
  display: block;
  height: 100%;
  width: 50%;
  background-color:rgba(0, 0, 0, 0.801);
  font-family: "magis";
  top: 0;
  left: 0;
  position: fixed;
  padding-top: 150px;
  transition: 0.25s ease;
  opacity: 0;
}

.nav2 a:hover{
  background-color:#0f102f;
  transition: 0.25s ease;
}


.section-1 {
  width: 100%;
  min-height: 80vh;
  background-image: url(./background.png);
  background-size: cover;
  background-color: rgba(10, 24, 46, 0.863);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  position: relative;
 

}

.section-1::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  clip-path: polygon( 100% 30%, 0% 100%, 100% 100%);
 
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(10, 24, 46, 0.498);
  
}
.overlay::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  clip-path: polygon( 100% 30%, 0% 100%, 100% 100%);
}

.section-1 .hero {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "magis";
  padding-bottom: 40px;
 
}

.section-1 .hero .left {
  padding-top: 100px;
  transition: 0.25s;

}

.section-1 .hero .left h1 {
  font-size: 3.5rem;
  text-transform: uppercase;


}

.section-1 .hero .left p {
  text-align: center;
  line-height: 30px;
  font-size: 19px;
  color: #f99045;
  margin-top: 10px;
  letter-spacing: 13px;
}

.section-1 .hero .right {
  margin-top: 100px;
  background-color: #f99045;
  padding: 150px;
  width: 100%;
  max-width: 380px;
  position: relative;
  animation: heartbeat 2s ease-in-out infinite both;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 76% 90%, 50% 75%, 0% 75%);


}

.section-1 .hero .right .title {
  position: absolute;
  background-color: #425531;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
}

.section-1 .hero .right .title h2 {
  text-align: center;
}

.section-1 .hero .right .btn {
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;

}

.section-1 .hero .right .btn button {
  font-family: 'poppins';
  font-size: 19px;
  border: none;
  padding: 15px 30px;
  margin-bottom: 20px;
  color: white;
  background-color: #a55540;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease;
}

.section-1 .hero .right .btn button:hover {
  background-color: #425531;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.section-2 {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: "magis";
  padding-bottom: 100px;

}

.section-2 h1 {
  position: relative;
  margin: 50px 0;
  font-size: 3rem;
}

.section-2 p {
  margin-top: 20px;
  font-size: 19px;
  text-align: start;
}

.section-2 #bar {
  height: 15px;
  position: absolute;
  bottom: -3px;

}

.section-2 .content {
  display: flex;
  justify-content: center;
  align-items: center;

}

.section-2 .txt {
  height: 300px;
  margin-top: 50px;
  max-width: 500px;
}

.section-2 font {
  color: #425531;
  font-weight: bold;
}

.section-2 .img {
  width: 100%;
  max-width: 1000px;

}

.section-2 img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(-10deg);

}


section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "magis";
  font-size: 19px;
  background-color: #a55540;
  clip-path: polygon(0 10%, 100% 0, 100% 89%, 0% 100%);
  color: white;
  padding-bottom: 170px;
  margin-bottom: 200px;

}

section h1 {
  padding-top: 100px;
  margin-bottom: 100px;
  position: relative;
  font-size: 3rem;
}
section #bar {
  height: 17px;
  position: absolute;
  bottom: -5px;
  left: 5px;

}

section .sectionContent {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

section .sectionContent p {
  text-align: center;
  font-size: 19px;
}



section .sectionContent .list-gallery {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

section .leftbox {
  width: 100%;
  margin-top: 50px;
}

section .leftbox .listboxContent{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
 
 }

 section #list {
  height: 30px;
 
  
  
}

section .leftbox .listbox p {
  width: 100%;
  text-align: start;
}
section .leftbox .listbox  {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.25s ease;
  
}

section .listbox:hover {
  scale: 1;
  transform: translateY(-5px);
  transition: 0.25s ease;

}

section .rightbox {
  width: 100%;
  max-height: 500px;
  position: relative !important;
 
}


section #next {
  height: 70px;
  position: absolute;
  top: 198px;
  right: -65px;
  cursor: pointer;
  transition: 0.25s;
}

section #previous {
  height: 70px;
  position: absolute;
  top: 198px;
  left: -6px;
  cursor: pointer;
  transition: 0.25s;
 
}

section #previous:hover {
  scale: 1.2;
  transition: 0.25s ease;

}

section #next:hover {
  scale: 1.2;
  transition: 0.25s ease;

}

section .rightbox img {
  width: 100%;
  height: 500px;
  margin-left: 30px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.6s;
  animation: opacity 0.6s ease;
  box-shadow: 1px 1px 10px 10px rgba(10, 24, 46, 0.498);
  position: relative !important;

}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
  background-color: #f99045;
  /* clip-path: ellipse(50% 100% at 50% 100%); */
  padding: 50px 0;
  position: relative;
  padding: 30px;
  font-family: 'magis';
}

.section-3 #select {
  height: 40px;
}

.section-3::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -50px;
  left: 0;
  height: 50px;
  background-color:#f99045;
   clip-path: ellipse(50% 100% at 50% 100%);
  

}


.section-3 h1 {
  font-size: 3rem;
  color: #0f102f;
  width: fit-content;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative!important;
}



.section-3 .bar2 {
  fill: white;
}

.section-3 .bar3 {
  fill: #ffffff;

}

.section-3 .condition {
  margin-top: 70px;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;



}

.section-3 .condition .svg-txt {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.25s ease;
}

.section-3 .condition .svg-txt:hover {
  scale: 1;
  transform: translateY(-5px);
  transition: 0.25s ease;
}

.section-3 .condition p {
  margin-left: 30px;
  user-select: none;
  color: white;

}


#up {
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: 0.25s ease;
  cursor: pointer;
  display: none;
  z-index: 99;
  transition: 0.25s ease;

}
#up:hover {
 scale: 1.1;
 transition: 0.25s ease;
}



footer {
  width: 100%;
  min-height: 100vh;
  margin: auto 0;
  background: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(10, 24, 46, 0.863);
  background-blend-mode: multiply;
  color: white;
  padding-bottom: 30px;
  font-family: "magis";
  position: relative;
  
}
footer .footerBackground {
  position: absolute;
  background-color: rgba(10, 24, 46, 0.498);
  height: 100%;
  width: 100%;
  /* padding-bottom: 600px; */
}


footer .footerContent {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 600px;
}

footer .footerContent .firstbox, .sndbox, .partenaire {
  margin-bottom: 50px;
 
  
}

footer .partenaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
footer .footerContent .partenaire img {
  display: block;
  margin-top: 40px;
  height: 45px;
  
  
  
}

footer .social .fa-brands{
  margin-right:10px ;
  margin-bottom:10px ;
  
}
footer .social {
  margin-top: 410px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  
}
footer .social img {
  
  height: 90px; 
   margin-right: 200px;
}

footer .menuContent{
  position: relative;
 
}
footer .infoContact {
  margin-top: 30px;
  color: #a55540;
}

.fa-brands{
  color: #f99045;
}


footer .menuContent p {
  color: white;
  transition: 0.25s ease;
}
footer .menuContent p:hover {
  color:#f99045;
  transition: 0.25s ease;

}












































@media (max-width:1536px) {
  .section-1 .hero .left p{
    text-align: start;
  }
}
/* xl */
@media (max-width:1200px) {
 .list-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.leftbox{
  margin-bottom: 200px;
  height: 300px;
}
.rightbox {
  height: 100%;
  margin-right: 50px;
  padding-bottom: 100px;
 
}
.listbox:hover{
  transform: translateX(50px) !important;
}
 .img-container img {
  width: 100%!important;
 
}
  
}


/* 2xl */
@media (max-width:1536px) {
  .section-1 .hero .left p{
    text-align: start;
  }
}
/* xl */
@media (max-width:1200px) {
 .list-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.leftbox{
  margin-bottom: 200px;
  height: 300px;
}
.rightbox {
  height: 100%;
  margin-right: 50px;
  padding-bottom: 100px;
 
}
.listbox:hover{
  transform: translateX(50px) !important;
}
 .img-container img {
  width: 100%!important;
 
}

 .section-2 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-2 .content .txt {
  margin-bottom: 45px;
}  

  
}

@media (max-width:915px) {
  .section-1 .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.25s ease;
  }
  .section-1 .hero .left h1, p{
    text-align: center!important;
  }
  .menuContent .one:after {
    left: 60px;
  }
 
}



@media (max-width:794px){
.rightbox{
  scale: 0.9;
}
.leftbox{
  scale: 0.9;
  margin-bottom: 80px;
}
.section-3 h1 {
  font-size: 2.5rem;
}
.section-3 #bar3 {
 
  left: 90px;
  height: 25px;

}

} 



 
 @media (max-width:794px){
  .rightbox{
    scale: 0.7;
  }
  .leftbox{
    scale: 0.8;
    margin-bottom: 50px;
  
    
  }
  .list-gallery {
    padding-top: 0 !important;
  }
  .campusContent p {
    max-width: 500px;
    text-align: start !important;
    padding: 0 20px;
  }
} 
.section-3 h1 {
  font-size: 1.8rem;
 
}
.section-3 #bar3 {
 
  left: 95px;
  height: 15px;

}


 @media (max-width: 698px) {
 
  
} 
@media (max-width: 650px) {

.section-1 .hero .left h1{
  font-size: 2.5rem;
 }
 .section-1 .hero .right{
  scale: 0.9;
 }
}


@media (max-width:475px){
 .nav3{
  display: none;

 }
 .nav2 {
  width: 100%;
 }
 body.active {
  overflow-y: hidden;
 }
}
@media (max-width:444px){
  .content .img{
    margin-top: 150px;
  }
}

@media (max-width:431px){
  .section-1 h1 {
    font-size: 1.8rem !important;
  }
  .section-1 p {
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: 8px !important;
  }
}



/* RESPONSIVES MIN-WIDTH */

/* 2x l */
@media (min-width:1536px){}

/* xl  */
@media (min-width:1280px){}

/* lg  */
@media (min-width:1024px){
  .menu{
    display: none;
  }
  .nav2{
    display: none;
  }
  .nav3{
    display: none;
  }
  header nav{
    display: block;
  }
  header nav {
    font-family: 'magis';
    margin-right: 5%;
    transition: 0.25 ease;
    z-index: 99;
  
  
  
  }
  header {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 19px;
  transition: 0.25s ease;
  
  
  
  }
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  header nav ul li {
    margin: 0 5px;
  
  }
  header nav ul li a.active{
      color:#0f102f
  }
  header nav ul li a.active:hover{
      color: #f99045;
  }
  header nav ul li a {
    color:#f99045;
    padding: 10px 30px;
    border-radius: 5px;
    position: relative;
  }
  header nav ul li a:hover {
    color:#4f53c6;
    transition: 0.25s ease;
  
  }

  
header nav ul li a::after {
  content: "";
  background-color:#f99045;
  width: 3px;
  height: 50px;
  position: absolute;
  transform: rotate(90deg);
  left: 54px;
  top: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.25s ease;
}

header nav ul li a:hover::after {
  content: "";
  opacity: 1;
  background-color:#f99045;
  transition: 0.25s ease;
  width: 3px;
  height: 110px;
  position: absolute;
  transform: rotate(90deg);
  left: 85px;
  top: -20px;
  border-radius: 10px;
  transition: 0.25s ease;
}

header .first {
  color:#a55540;
  border-radius: 5px;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  transition: 0.25s ease;
}

header .first:hover {
  color:#4f53c6;
  transition: 0.25s ease;


}

header nav ul li .first::after {
  content: "";
  background-color: white;
  width: 3px;
  height: 90px;
  position: absolute;
  transform: rotate(90deg);
  left: 56px;
  top: -10px;
  opacity: 1;
  border-radius: 10px;
  transition: 0.25s ease;
}

header nav ul li .first:hover::after {
  content: "";
  background-color: #f99045;
  transition: 0.25s ease;
  width: 3px;
  height: 90px;
  position: absolute;
  transform: rotate(90deg);
  left: 56px;
  top: -10px;
  border-radius: 10px;
  transition: 0.25s ease;

}

header nav ul li .snd::after {
  content: "";
  background-color: white;
  width: 3px;
  height: 50px;
  position: absolute;
  transform: rotate(90deg);
  left: 54px;
  top: 11px;
  opacity: 0;
  border-radius: 10px;
  transition: 0.25s ease;
}

header nav ul li .snd:hover {
  color: #4f53c6;;
}

header nav ul li .snd:hover::after {
  content: "";
  background-color:#f99045;
  transition: 0.25s ease;
  width: 3px;
  height: 75px;
  position: absolute;
  transform: rotate(90deg);
  left: 67px;
  top: -2px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.25s ease;

}

header nav ul li .end::after {
  content: "";
  background-color: white;
  width: 3px;
  height: 40px;
  position: absolute;
  transform: rotate(90deg);
  left: 51px;
  top: 17px;
  opacity: 0;
  border-radius: 10px;
  transition: 0.25s ease;
}

header nav ul li .end:hover {
  color: #4f53c6;
  transition: 0.25s ease;
}

header nav ul li .end:hover::after {
  content: "";
  background-color:#f99045;
  transition: 0.25s ease;
  width: 3px;
  height: 60px;
  position: absolute;
  transform: rotate(90deg);
  left: 61px;
  top: 6px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.25s ease;

}
}

/* md  */
@media (min-width:768px){
  footer .social img {
    position: relative;
   right: 280px;
   bottom: 510px;
  }
  footer .social .icone .fa-brands {
   display: block;
  }
  footer .social .icone  {
   position : relative;
   bottom:500px;
   left: 300px;
   scale : 1.5;
  }
  footer .firstbox {
background-color: red;
height: 0;
margin-top: 500px;
  }
  .partenaire {
    display: flex;
    flex-direction: row !important;
    position: relative;
    left: 200px;

  }
  .copyright {
    position: relative;
    bottom: 240px;
    right: 300px;
  }
  .partenaire img{
    margin: 0 20px;
  }
}

/* sm  */
@media (min-width:640px){}

/* xm */
@media (min-width:475px){}

/* xm  */

@media (min-width:260px){
  .content  .img{
    margin-top: 200px !important;
  }
}

